.container {
  background-color: #eeffff;
  height: 100%;
  width: 100%;
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100px 27.45em 150px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 10px;

  background-color: #d9d9d930;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;

  background-color: #d9d9d930;
  margin: 10px;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;

  background-color: #d9d9d930;
  margin: 10px;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;

  background-color: #d9d9d930;
  margin: 10px;
}
.div5 {
  grid-area: 1 / 2 / 3 / 3;

  background-color: #d9d9d930;
  margin: 10px;
}
.div1,
.div2,
.div3,
.div4,
.div5 label {
  padding: 10px;
}
