@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
    background-color: #2286c3;
    width: 100%;
    height: 100%;
  }
  html {
    width: 100%;
    height: 100%;
  }
}
/* 
@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
} */
