.body {
  width: 100%;
  height: 100%;
}
.container {
  width: 300px;
  height: 300px;
  background-color: #8aacc8;
  text-align: center;
  transform: translateY(50%);
  margin-left: 40%;

  border-radius: 10px;
}
.username input {
  width: 85%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}
.password input {
  width: 85%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}
.username label {
  display: flex;
  padding: 2px;
  color: white;
  font-size: 14px;
  margin-left: 20px;
}
.password label {
  display: flex;
  padding: 2px;
  color: white;
  font-size: 14px;
  margin-left: 20px;
}
.button1 button {
  padding: 6px;
  margin-top: 10px;
  border-radius: 10px;
  width: 80px;
  background-color: #1a6fa3;
  border: none;
  color: white;
}
.button2 button {
  font-size: 10px;
}
.button3 button {
  margin-top: 10px;
}
.logo {
  width: 60px;
  height: 60px;
  transform: translateX(200%);

  border-radius: 90%;
  background-color: white;
}
.logo img {
  padding-top: 5px;
  margin-left: 5px;
}
